<!DOCTYPE html>
<html>
<head>
  <title>MetroFlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- Morris.js cdn --> 
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

 <!-- Animation CSS -->
 <link href="css/animate.min.css" rel="stylesheet">


</head>
<body id="page-top">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h4>MetroFlow</h4></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Producto</a></li>
                        <li><a class="page-scroll" href="#team">Equipo</a></li>
                        <li><a class="page-scroll" href="#testimonials">Testimonios</a></li>
                        <li><a class="page-scroll" href="#contact">Contacto</a></li>
                        <li><a class="page-scroll" href="#contact">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>

<!-- MAIN CONTAINER -->  
<!-- <div class="container"> -->

<%= yield %>

<!-- </div>  end of main container -->

</body>

<!-- <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-right">
				<span class="copyright">Copyright &copy; MetroFlow LLC 2015</span>
			</div>
			<div class="col-md-4">
				<ul class="list-inline social-buttons">
					<li><a href="https://twitter.com/monecoins"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/pages/MoNe/1765869786971858"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer> -->


</html>
